body {
    background: url("../images/space.jpg");
}
#screens{
    margin-top: 50px;
}
#introScreen{
    display: block;
}
#gameScreen{
    display: none;
}
#resultsScreen{
    display: none;
}
#timer{
    font-size: 20px;
    background: green;
    color: white;
    padding: 2px;
}
#question {
    font-size: 20px;
}
.option {
    padding: 20px;
    background: blue;
    margin: 10px;
    font-size: 20px;
    color: yellow;
}